footer {
    background-color: #e8d1d1; /* marrón pastel */
    padding: 10px;
    text-align: center;
    .footy {
        text-align: center;
        color: #333;
    }
    }
/* No me funciona este solo en el SCSS, podrías indicarme donde esta el error para que funcione en scss y no en css? */