main {
    margin: 0%;
    padding: 0%;
    section{
        background-color: #cfd9e8; /* azul pastel */
        text-align: left;
    }
    h1 {
        color: #8c6b5f;
        text-decoration: underline;
    }
    h2{
        color: #8c6b5f; /* marrón pastel */
        }
    h3{
        color: #8c6b5f;
    }
    h4{
        color: #8c6b5f;
    }
    p{
        text-align: justify;
        margin: auto;
        color: #8c6b5f
    }
    .Delicia {
        &.Contacto {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: 100%;
        }
        }
    .Boxes {
        display: grid;
        bottom: 0;
        left: 0;
        width: 100%;
        }
    .Box {
        width: 100%; 
        height: 100%;
        position: relative;
        left: auto;
        }
    label {
        color: #8c6b5f;
        }
    .sr-only1 {
        color: #8c6b5f;
        background-color: #9bfab0;
        }
    .Informacion {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 100px);
        gap: 1rem;
    }

}